<div class = "div1">
<h2>Contact Us</h2>

<form (ngSubmit)="submitForm()" #contactForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="formData.name">
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="formData.email">
  </div>

  <div>
    <label for="message">Message:</label>
    <textarea id="message" name="message" required [(ngModel)]="formData.message"></textarea>
  </div>

  <button type="submit">Submit</button>

  <div class="company-info">
    <h3>Goyal Hospital</h3>
    <p>Address: Sodala, Jaipur</p>
    <p>Phone: 85859699</p>
    <p>Email: goyal@gmail.com</p>
  </div>

</form>
</div>
