<div class="about-us">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies ante id semper faucibus. 
    Nunc suscipit nunc eget mi ultrices ullamcorper. Integer posuere efficitur consectetur. 
    Duis vitae quam sed lectus suscipit cursus. Quisque vel metus enim. Sed auctor eu urna sed pulvinar. 
    Aliquam vitae felis semper, iaculis justo non, interdum arcu.</p>
</div>

<div>
 <h2 style="text-align: center;">Blogs By Our Doctors</h2> 
</div>

<div class="card">
  <img src="./assets/img/bld.webp" alt="Blood Donation">
  <div class="card-content">
    <h3>Blood Donation</h3>
    <p>Benefits of Blood Donation By: Dr. Surendra</p>
  </div>
</div>

<div class="card">
  <img src="./assets/img/nephr.jpg" alt="Nephrology">
  <div class="card-content">
    <h3>Nephrology</h3>
    <p>Which is the best treatment for Stage 5 CKD? By: Dr. Sanjeev Gulati</p>
  </div>
</div>

<div class="card">
  <img src="./assets/img/ono.png" alt="Oncology">
  <div class="card-content">
    <h3>Oncology</h3>
    <p>The first step - Medical Oncology. By: Dr. Amit Bhargava</p>
  </div>
</div>

<div class="card">
  <img src="./assets/img/neu.jpg" alt="Neurosurgery">
  <div class="card-content">
    <h3>Neurosurgery</h3>
    <p>Traumatic Brain Injury: Symptoms, Causes, and Management</p>
  </div>
</div>


